

.b-crear {
    background: linear-gradient(0deg, #6E0FB9, #7B1C1C);
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;

    position: fixed;

    box-sizing: border-box;
    text-align: center;
    

    display:flex; 
    
    flex-direction: column;

    .cajas {
        color: black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        h1 {
            font-size: 20px;
        }
    
        label{
            display: flex;
            justify-content: left;
            padding-left: 15px;
            margin-bottom: 10px;
        }

        input{
            width: 290px;
            margin-left:15px;
            margin-bottom: 30px;
            input {
                background-color: #ffffff9a;
            }
            
        }

        select { 
            display: flex;
            flex-direction: column;
            width: 290px;
            height: 30px;
            border-radius: 10px;
            background-color: rgba(245, 231, 231, 0.651);
            margin-bottom: 10px;
            margin-left: 15px;
            padding: 5px;
            font-size: 12px;
            position: relative;
            z-index: 1;
            color: black;

            option {
                color: black;
            }
        }

        

        button {
            width: 150px;
            height: 40px;
            margin-left: 90px;
            margin-top: 20px;
            font-size: 15px;
        }
    }
}



@media (min-width: 1024px) {
    .b-crear {
        
        .cajas {
            display: flex;
            position: absolute;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 80%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)); /* Color de fondo semi-transparente */
            z-index: 1;
            align-items: center;
            justify-content: center;
            border-radius: 50px;

            input {
                width: 700px;
            }

            select {
                width: 700px;
     
            }

            button {
                margin-left: 50px;
            }
        }
    }
}
