.box-bigH {
    
    background: linear-gradient(0deg, #6E0FB9, #7B1C1C);
    height: 100vh;
    width: 100vw;

    position: relative;
    
    box-sizing: border-box;
    text-align: center;
    color: blanchedalmond;

    display:flex; 
    flex-direction: column; 
}

.tweet {
    width: 50%; /* Ajusta el tamaño del contenedor según sea necesario */
    height: 50%; /* Ajusta el tamaño del contenedor según sea necesario */
    background-color: rgba(201, 191, 191, 0.425); /* Fondo blanco */
    box-shadow: 0 30px 120px rgba(10, 10, 10, 0.301); /* Sombra opcional para darle un efecto elevado */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido dentro del contenedor */
    align-items: center; /* Centra verticalmente el contenido dentro del contenedor */
    border-radius: 20px; /* Bordes redondeados opcionales */
    flex-direction: column;
    padding: 20px;
}