/*Mobile First*/

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

.big-boxT {
    background: linear-gradient(0deg, #6E0FB9, #7B1C1C);
    height: 100vh;
    width: 100vw;

    position: relative;
    
    box-sizing: border-box;
    text-align: center;
    color: blanchedalmond;

    display:flex; 
    flex-direction: column;

}

.title{

   
    
    
    h1{
        text-align: center;
        margin: initial;
        margin-bottom: 20px;
        margin-top: 10px;
        letter-spacing: 3px;
        font-size: 20px;
    }
}

.search {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .searchimg {
        display: flex;
        flex-direction: row;
        img{
        margin-top: 10px;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        }

        .img2 {
            width: 20px;
            height: 40px;
        }

        input {
            background-color: #ffffff9a;
        }
    }
    

    .look{
        
        width: 70%; /* Ajusta el tamaño del contenedor según sea necesario */
        height: 30%; /* Ajusta el tamaño del contenedor según sea necesario */
        background-color: rgba(201, 191, 191, 0.425); /* Fondo blanco */
        box-shadow: 0 30px 120px rgba(10, 10, 10, 0.301); /* Sombra opcional para darle un efecto elevado */
        display: flex;
        justify-content: center; /* Centra horizontalmente el contenido dentro del contenedor */
        align-items: center; /* Centra verticalmente el contenido dentro del contenedor */
        border-radius: 20px; /* Bordes redondeados opcionales */
        flex-direction: column;
        margin-bottom: 10px;
        margin: 10px;
        padding: 10px;
        font-size: 15px;
        list-style-type: none; 
        transform: translate(10%, -0%);
    }
}



@media (min-width: 1024px) {
    .title{
        display: flex;
        justify-content: start;
        text-align: center;
        margin-left: 40px;

        h1{
            margin-bottom: 0px;
            
            margin-left: initial;
            font-size: 40px;
        }
    }
    .search{
        display: flex;
        justify-content: start;
        text-align: center;
        margin-left: 50px;
        input {
            width: 800px;
        }
        img{
            margin-top: 1px;
            width: 30px;
            height: 30px;
        }

        .img2{
        margin-right: 10px;
       
        }
    }
}